// colors
$grain-yellow: #E1CE7A;
$charcoal-black: #232C33;
$pastel-blue: #A0C1D1;
$leaf-green: #C0DA74;
$ash-green: #4D5A49;
$pasture-pink: #E6BCCD;
$salsa-red: #E55039;
$gravel-grey: #686362;
$white: #F9F9F9;

// space
$space-sm: 10px;
$space-reg: 15px;
$space-lg: 25px;
$space-xlg: 50px;

// fonts
$primary-font: "Oxygen";
$secondary-font: "Source Serif Pro";

// shadows 
$shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

// breakpoints
$tablet-min: 768px;
$desktop-min: 1024px;
$mobile-max: ($tablet-min - 1);
$tablet-max: ($desktop-min - 1);
$desktop-lg: 1200px;
$desktop-xl: 1920px;

$landscape: "(orientation: landscape)";
$portrait: "(orientation: portrait)";

$small-height-devices: "screen and (max-height: 568px) and (max-width: #{$mobile-max})";
$breakpoint-mobile: "screen and (max-width: #{$mobile-max})";
$breakpoint-tablet: "screen and (max-width: #{$tablet-max})";
$breakpoint-tablet-and-desktop: "screen and (min-width: #{$tablet-min})";
$breakpoint-desktop: "screen and (min-width: #{$desktop-min})";
$breakpoint-tablet-only: "screen and (min-width: #{$tablet-min}) and (max-width: #{$tablet-max})";
$breakpoint-desktop-lg: "screen and (min-width: #{$desktop-lg})";
$breakpoint-desktop-xl: "screen and (min-width: #{$desktop-xl})";
$breakpoint-2x: "screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 320dpi)";
$breakpoint-3x: "screen and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 480dpi)";

// type
@mixin header-1 {
  font-size: 5.61rem;
  font-weight: 700;
  font-family: "Oxygen";
  margin-bottom: $space-reg;
}
@mixin header-2 {
  font-size: 4.209rem;
  font-family: "Oxygen";
  margin-bottom: $space-reg;
}
@mixin header-3 {
  font-size: 3.157rem;
  font-weight: 300;
  font-family: "Oxygen";
  margin: $space-sm 0;
}
@mixin header-4 {
  font-size: 2.369rem;
  font-weight: 700;
  font-family: "Oxygen";
  margin-bottom: $space-sm 0;
}
@mixin body-base {
  font-family: "Source Serif Pro";
}
@mixin body-large {
  font-size: 1.777rem;
  font-family: "Source Serif Pro";
}
@mixin body {
  font-size: 1.333rem;
  font-family: "Source Serif Pro";
}
@mixin body-small {
  font-size: 0.75rem;
  font-family: "Source Serif Pro";
}

// layout
@mixin container-layout {
  max-width: 1024px;
  width: auto;
  margin: 0 auto;
}

// cards
@mixin card-container {

}
@mixin card {

}
