@import '../styles/mixins/base.scss';
.login-page {
  background-color: $grain-yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: auto;

  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__keypad {
    margin-bottom: $space-reg;
  }
}