@import '../styles/mixins/base.scss';
.splash-page {
  display: flex;
  background-color: $grain-yellow;
  color: $charcoal-black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  min-height: 100vh;
  width: auto;

  &__title {
    color: $ash-green;
    margin-top: $space-sm;
  }
  &__welcome {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}